$color-dark: #151515;
$color-green: #4EE1A0;
$color-gray: #242424;
$color-light-gray: #D9D9D9;
$color-white: #FFFFFF;

$font-main: 'Space Grotesk', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-dark;
  color: $color-white;
  font-family: $font-main;
  line-height: 1.6;

  .main_separador{
    display: none;
  }
  
}

//Desktop
@media (min-width:776px) {
  .header {
    padding: 2rem 0;
    height: 100vh;
    margin-bottom: 200px;
    position: relative;
  
    
    
    .navbar {
      display: flex;
      justify-content: space-around;
      .logo {
        font-weight: bold;
        margin-right: 390px;
        font-size: 2rem;
        font-family: $font-main;
      }
      .socials {
        list-style: none;
        display: flex;
        gap: 1rem;
        
        li{
          margin-left: 20px;
        }
      }
    }
  
    .intro {
      margin-top: 2rem;
      width: 100%;
      position: relative;
  
      .efectoCirculos{
        position: absolute;
        top: -22%;
        left: -20px;
      }
  
      .intro_content{
        margin-left:10% ;
        margin-top: 10%;
        h1 {
          font-size: 5rem;
          line-height: 0.9;
          span {
            text-decoration: underline;
            text-decoration-color: $color-green;
            text-underline-offset: 15px;
          }
        }
        p {
          margin-top: 50px;
          margin-bottom: 50px;
          width: 400px;
        }
        .contact-link {
          text-decoration: underline;
          color: $color-white;
          text-decoration-color: $color-green;
          text-transform: uppercase;
          text-underline-offset: 15px;
          text-decoration-thickness: 2px;
          letter-spacing: 2px;
          font-weight: 700;
  
          &:hover{
            color: $color-green;
          }
        }
      }
      
      .intro_portrait {
        width: auto;
        position: absolute;
        top: -65%;
        right:7%;
        background-color: #97979726;
        padding-top: 7rem;
      }
    }
  }
  
  .separador {
    height: 1px;
    background-color: white;
    width:80%;
    margin: 2rem auto;
    
  }
  
  .main{
    .skills {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 150px;
      margin-top: 50px;
      ul {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        list-style: none;
        font-size: 1.25rem;
        font-weight: bold;
        color: $color-light-gray;
  
        h3{
          font-size: 3rem;
        }
      }
  
      .efectoCirculos{
        position: absolute;
        transform: scaleX(-1);
        top: 70%;
        right: -15%;
      }
    }
    
    .projects {
      .section-header {
        display: flex;
        justify-content: space-around;
  
        h2{
          margin-right: 340px;
          font-size: 5.6rem;
        }
  
        .contact-link {
          text-decoration: underline;
          color: $color-white;
          text-decoration-color: $color-green;
          text-transform: uppercase;
          text-underline-offset: 15px;
          text-decoration-thickness: 2px;
          letter-spacing: 2px;
          font-weight: 700;
          margin-top: 50px;
  
          &:hover{
            color: $color-green;
          }
        }
      }
  
  
      .project-grid {
        padding: 2rem;
        display: flex;
        justify-content: center;
  
        .project-list {
          width: 90%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr); 
          gap: 20px; 
          list-style: none; 
          padding: 2rem;
  
          .project {
            position: relative;
            padding: 0.5rem;
          
            .project-image {
              width: 100%; 
              height: auto;
              position: relative;
              overflow: hidden;
              z-index: 1;
            }
          
            h3 {
              font-size: 1.4rem;
              text-transform: uppercase;
            }
          
            p {
              text-transform: uppercase;
              word-spacing: 10px;
            }
          
            img {
              width: 100%; 
              height: auto; 
              transition: filter 0.3s ease;
            }
          
            .hover {
              position: absolute;
              top: 30%;
              left: 34%;
              display: flex; 
              flex-direction: column;
              align-items: center;
              z-index: 0;
              opacity: 0;
              pointer-events: none;
              transition: opacity 0.3s ease, z-index 0s linear 0.3s;
          
              a {
                padding: 1rem;
                text-decoration: underline;
                color: $color-white;
                text-decoration-color: $color-green;
                text-transform: uppercase;
                text-underline-offset: 15px;
                text-decoration-thickness: 2px;
                letter-spacing: 2px;
                font-weight: 700;
          
                &:hover {
                  color: $color-green;
                }
              }
            }
          
            &:hover {
              .project-image img {
                filter: brightness(0.4);
              }
          
              .hover {
                z-index: 2;
                opacity: 1;
                pointer-events: all;
                transition: opacity 0.3s ease, z-index 0s;
              }
            }
          }
          
        }
        
      }
    }
    
    
  }
  
  
  .footer {
    background-color: $color-gray;
    padding: 2rem ;
    display: flex;
    flex-direction: column;
  
    .contact{
      display: flex;
      padding: 3rem 0;
      margin-bottom: 50px;
  
      .section-header{
        width: 50%;
        margin-left: 100px;
        position: relative;
  
        h2{
          font-size: 5rem;
        }
        p{
          width: 400px;
        }
  
        img{
          position: absolute;
          top: 90%;
          left: -50%;
        }
      }
  
      .contact-form{
        width: 50%;
        margin-right:100px ;
        display: flex;
        flex-direction: column;
        gap: 1rem;
  
        input, textarea {
          padding: 1rem;
          border: none;
          border-bottom: 2px solid $color-light-gray;
          background-color: transparent;
          color: $color-white;
          font-size: 1rem;
          outline: none;
          transition: border-color 0.3s ease;
          width: 100%;
        }
  
        .error-msg {
          font-size: 0.8rem;
          color: #ff4d4d;
          margin-top: 0.2rem;
          display: none; 
          text-align: end;
        }
  
        input.valid {
          border-bottom-color: $color-green; 
        }
        
        input.invalid {
          border-bottom-color: #ff4d4d; 
        }
  
        button {
          align-self:flex-end;
          background: none;
          border: none;
          text-decoration: underline;
          color: $color-white;
          text-decoration-color: $color-green;
          text-transform: uppercase;
          text-underline-offset: 15px;
          text-decoration-thickness: 2px;
          letter-spacing: 2px;
          font-weight: 700;
          padding: 0.75rem 2rem;
          
          &:hover {
            color: $color-green;
          }
        }
  
      }
    }
  
    .separador {
      height: 1px;
      background-color: white;
      width:85%;
      margin: 2rem auto;
      
    }
  
    .socials{
      display: flex;
      justify-content: space-between;
      margin-left: 95px;
      margin-right: 95px;
      padding: 1.5rem 0;
  
      .logo{
        font-weight: bold;
        margin-right: 390px;
        font-size: 2rem;
        font-family: $font-main;
      }
  
      .socials_part {
        list-style: none;
        display: flex;
        gap: 1rem;
        
        li{
          margin-left: 10px;
        }
      }
    }
  
  }
}



// Tablet
@media (max-width: 775px) {

  body{
    width: 95%;
  }

  .header {
    
    height: 100vh;
    margin-bottom: 50px;
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
  
    
    .navbar {
      display: flex;
      justify-content: space-between;
      
      
      .logo{
        font-weight: bold;
        
        font-size: 2rem;
        font-family: $font-main;
      }

      .socials{
        list-style: none;
        display: flex;
        gap: 1rem;

        li{
          margin-left: 20px;
        }
      }
      
    }
  
    .intro {
      margin-top: 1rem;
      position: relative;
  
      .efectoCirculos{
        position: absolute;
        top: -10%;
        left: -30%;
      }
  
      .intro_content{
        margin-top: 8%;
        h1 {
          font-size: 4.5rem;
          line-height: 0.9;
          width: 432px;
          span {
            text-decoration: underline;
            text-decoration-color: $color-green;
            text-underline-offset: 15px;
          }
        }
        p {
          margin-top: 50px;
          margin-bottom: 50px;
          width: 400px;
        }
        .contact-link {
          text-decoration: underline;
          color: $color-white;
          text-decoration-color: $color-green;
          text-transform: uppercase;
          text-underline-offset: 15px;
          text-decoration-thickness: 2px;
          letter-spacing: 2px;
          font-weight: 700;
  
          &:hover{
            color: $color-green;
          }
        }
      }
      
      .intro_portrait {
        width: auto;
        position: absolute;
        top: -30%;
        right:-8%;
        padding-top: 10rem;
        background-color: #97979726;
        
       img{
        width: 350px;;
       } 
      }
    }
  }

  .separador {
    height: 1px;
    background-color: white;
    width:94%;
    margin: 2rem auto;
    margin-left: 40px;
    
  }

  .main{

    .skills{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
      ul {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        list-style: none;
        font-size: 1.25rem;
        font-weight: bold;
        color: $color-light-gray;
  
        h3{
          font-size: 3rem;
        }
      }

      .efectoCirculos{
        position: absolute;
        transform: scaleX(-1);
        top: 85%;
        right: -40%;
      }
    }

    .projects{
      .section-header {
        display: flex;
        justify-content: space-around;
  
        h2{
          margin-right: 140px;
          font-size: 4.6rem;
        }
  
        .contact-link {
          text-decoration: underline;
          color: $color-white;
          text-decoration-color: $color-green;
          text-transform: uppercase;
          text-underline-offset: 15px;
          text-decoration-thickness: 2px;
          letter-spacing: 2px;
          font-weight: 700;
          margin-top: 50px;
          margin-left: 50px;
  
          &:hover{
            color: $color-green;
          }
        }
      }

      .project-grid {
        margin-left: 25px;
        display: flex;
        justify-content: center;
  
        .project-list {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 8px; 
          list-style: none; 
          padding: 0.2rem;
  
          .project {
            position: relative;
            padding: 0.5rem;
            margin-bottom: 80px;
          
            .project-image {
              width: 100%; 
              height: auto;
              position: relative;
              overflow: hidden;
              order: 1;

              img {
                width: 100%; 
                height: auto; 
                transition: filter 0.3s ease;
              }
            }
          
            h3 {
              font-size: 1.4rem;
              text-transform: uppercase;
            }
          
            p {
              text-transform: uppercase;
              word-spacing: 10px;
            }
          
            
          
            .hover {
              display: flex; 
              flex-direction: row;
              position: absolute;
              top: 310px;
              left: -2%;

          
              a {
                padding: 1rem;
                text-decoration: underline;
                color: $color-white;
                text-decoration-color: $color-green;
                text-transform: uppercase;
                text-underline-offset: 15px;
                text-decoration-thickness: 2px;
                letter-spacing: 2px;
                font-weight: 700;
          
                &:hover {
                  color: $color-green;
                }
              }
            }
          
          }
          
        }
        
      }
    }
    
  }

  .footer{
    background-color: $color-gray;
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    width: 106%;


    .contact{
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      text-align: center;
      align-items: center;
  
      .section-header{
       margin-bottom: 40px;
        position: relative;
  
        h2{
          font-size: 5rem;
        }
        p{
          width: 400px;
        }
  
        img{
          position: absolute;
          top: 225%;
          left: -110%;
        }
      }
  
      .contact-form{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
  
        input, textarea {
          padding: 1rem;
          border: none;
          border-bottom: 2px solid $color-light-gray;
          background-color: transparent;
          color: $color-white;
          font-size: 1rem;
          outline: none;
          transition: border-color 0.3s ease;
          width: 100%;
        }
  
        .error-msg {
          font-size: 0.8rem;
          color: #ff4d4d;
          margin-top: 0.2rem;
          display: none; 
          text-align: end;
        }
  
        input.valid {
          border-bottom-color: $color-green; 
        }
        
        input.invalid {
          border-bottom-color: #ff4d4d; 
        }
  
        button {
          align-self:flex-end;
          background: none;
          border: none;
          text-decoration: underline;
          color: $color-white;
          text-decoration-color: $color-green;
          text-transform: uppercase;
          text-underline-offset: 15px;
          text-decoration-thickness: 2px;
          letter-spacing: 2px;
          font-weight: 700;
          padding: 0.75rem 2rem;
          
          &:hover {
            color: $color-green;
          }
        }
  
      }
    }

    .separador {
      height: 1px;
      background-color: white;
      width:95%;
      margin-left: 10px;
      margin-top: 60px;
      
    }

    .socials{
      display: flex;
      justify-content: space-between;
  
      .logo{
        font-weight: bold;
        font-size: 2rem;
        font-family: $font-main;
        margin-left: 10px;
      }
  
      .socials_part {
        list-style: none;
        display: flex;
        gap: 1rem;
        margin-right: 20px;
        margin-top: 10px;
        
        li{
          margin-left: 10px;
        }
      }
    }
  }
  
}

//Mobile
@media (max-width: 574px) {
  body {
    
    text-align: center;
  }
  
.header{
  height: 100vh;
  margin-bottom: 100px;
  
  
  .navbar {
    
    .logo{
      font-weight: bold;
      font-size: 1.6rem;
      font-family: $font-main;
      position: absolute;
      right:34%;
      top: -10%;
    }

    .socials{
      list-style: none;
      display: flex;
      gap: 0.5rem;
      position: absolute;
      right:31%;

      img{
        width: 20px;
      }
    }
    
  }

  .intro {
    position: relative;
    right: 35%;

    
  
    .efectoCirculos{
      top: 40px;
      position: absolute;
    }

    .intro_content{
      position: absolute;
      top: 340px;
      left: 32%;
      h1 {
        font-size: 2.4rem;
        line-height: 0.9;
        span {
          text-decoration: underline;
          text-decoration-color: $color-green;
          text-underline-offset: 10px;
        }
      }
      p {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 35px;
        width: 360px;
      }
      .contact-link {
        text-decoration: underline;
        color: $color-white;
        text-decoration-color: $color-green;
        text-transform: uppercase;
        text-underline-offset: 15px;
        text-decoration-thickness: 2px;
        letter-spacing: 2px;
        font-weight: 700;
        position: absolute;
        top: 100%;
        left: 35%;

        &:hover{
          color: $color-green;
        }
      }
    }

    .intro_portrait {
      position: absolute;
      top: -100px;
      width: auto;
      height: 400px;
      background: linear-gradient(
        to top,                
        rgba(151, 151, 151, 0.15), 
        rgba(151, 151, 151, 0.0)
      );
      
     img{
      width: 200px;
      
     } 
    }
    
    
  }
}

.separador {
  height: 1px;
  background-color: white;
  width:94%;
  margin: 2rem auto;
  margin-left: 7%;
  
}

.main{
  margin-bottom: 60px;

  .main_separador {
    display: block;
    height: 1px;
    background-color: white;
    width:94%;
    margin: 2rem auto;
    margin-left: 7%;
    
  }

  .skills{
    margin-bottom: 100px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      font-weight: bold;
      color: $color-light-gray;

      li{
        height: 45px;

        h3{
          font-size: 2rem;
        }
        p{
          font-size: 1rem;
        }
      }

      
    }

    .efectoCirculos{
      position: absolute;
      transform: scaleX(-1);
      top: 102%;
      right: -50%;
    }
  }

  .projects{
    .section-header {
      display: flex;
      

      h2{
        font-size: 2.5rem;
        width: auto;
        margin-right: 0;
        margin-left: 20px;
      }

      .contact-link {
        text-decoration: underline;
        margin-left: 60px;
        margin-top: 20px;
        color: $color-white;
        text-decoration-color: $color-green;
        text-transform: uppercase;
        text-underline-offset: 15px;
        text-decoration-thickness: 2px;
        letter-spacing: 2px;
        font-weight: 700;
        

        &:hover{
          color: $color-green;
        }
      }
    }

    .project-grid {

      width: 100%;
  
      .project-list {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none; 

        .project {
          margin-bottom: 60px;
          
          .project-image {
            width: 100%; 
            height: auto;
          }
        
          h3 {
            font-size: 1.4rem;
            text-transform: uppercase;
            text-align: start;
          }
        
          p {
            text-transform: uppercase;
            word-spacing: 10px;
            text-align: start;
          }
        
          
        
          .hover {
            display: flex; 
            flex-direction: row;
            position: absolute;
            top: 100%;
            

        
            a {
              padding: 1rem;
              text-decoration: underline;
              color: $color-white;
              text-decoration-color: $color-green;
              text-transform: uppercase;
              text-underline-offset: 15px;
              text-decoration-thickness: 2px;
              letter-spacing: 2px;
              font-weight: 700;
        
              &:hover {
                color: $color-green;
              }
            }
          }
        
        }
        
      }
      
    }
  }
  
}

.footer{
  background-color: $color-gray;
  display: flex;
  flex-direction: column;


  .contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;

    .section-header{
     margin-bottom: 40px;
      position: relative;

      h2{
        font-size: 2.5rem;
      }
      p{
        width: 350px;
      }

      img{
        position: absolute;
        top: 225%;
        left: -70%;
      }
    }

    .contact-form{
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input, textarea {
        padding: 1rem;
        border: none;
        border-bottom: 2px solid $color-light-gray;
        background-color: transparent;
        color: $color-white;
        font-size: 1rem;
        outline: none;
        transition: border-color 0.3s ease;
        width: 100%;
      }

      .error-msg {
        font-size: 0.8rem;
        color: #ff4d4d;
        margin-top: 0.2rem;
        display: none; 
        text-align: end;
      }

      input.valid {
        border-bottom-color: $color-green; 
      }
      
      input.invalid {
        border-bottom-color: #ff4d4d; 
      }

      button {
        align-self:flex-end;
        background: none;
        border: none;
        text-decoration: underline;
        color: $color-white;
        text-decoration-color: $color-green;
        text-transform: uppercase;
        text-underline-offset: 15px;
        text-decoration-thickness: 2px;
        letter-spacing: 2px;
        font-weight: 700;
        padding: 0.75rem 2rem;
        
        &:hover {
          color: $color-green;
        }
      }

    }
  }

  .separador {
    height: 1px;
    background-color: white;
    width:85%;
    margin-left: 30px;
    margin-top: 60px;
    
  }

  .socials{
    display: flex;
    flex-direction: column;

    .logo{
      font-weight: bold;
      font-size: 1.5rem;
      font-family: $font-main;
      margin-right: 25px;
    }

    .socials_part {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 1rem;
      
      li{
        margin-left: 10px;
      }
    }
  }
}

  
}
